{% extends "encyclopedia/layout.html" %}

{% block body %}
    <form action="{% url 'edit' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="name" value="{{ title }}">

        <h1>Edit {{ title }}:</h1><br><br>

        Title: <br>
        <input type="text" name="title" value="{{ title }}"> <br><br>

        Description: <br>
        <textarea name="description" cols="10" rows="10" style="height: 300px;"> {{description}} </textarea><br>

        <input type="submit" value="Confirm" formaction="{% url 'submit' %}"><br>
        {{ error }}
    </form>
{% endblock %}